
@import "bootstrap";
body {
    font-family: 'Nunito', sans-serif;
}

/* homepage */
#home {
background-image: url(images/home-bg.png);
min-height: 50em;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}


/* 01.History */
#history {
background-image: url(images/history-bg.png);
min-height: 50em;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
/* isp */
mx-auto{
    margin-top: 10em;
}


/* Carousel */

/* didnt have background image so I created my closest guess */
#carousel-background{
    background-color: rgba(64, 75, 99, 0.65);
    padding-bottom: 2em;
    padding-top: 2em;
    margin-top: 29em;
}

/* 02.Climb */
#climb {
background-image: url(images/team-bg.png);
min-height: 50em;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#climb-container {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}


/* Mountains link */
#mountains {
    background-color: rgba(67, 79, 106);
    justify-content: center;
    flex-direction: column;

}

.btn {
    display: inline-block;
    margin: 0 20px;
}

/* .mountain1:hover{
    color: rgba(64, 75, 99, 0.65);
    background-color: white;
}
.mountain2:hover{
    color: rgba(64, 75, 99, 0.65);
    background-color: white;
} */



/* footer */
/* #footer-content{
background: rgba(64, 75, 99, 0.65);
margin-top: 10em;
} */