
/* NavBar */
.body {
    font-family: 'Nunito', sans-serif;;
}

/* homepage */
#home {
background-image: url(images/home-bg.png);
min-height: 50em;
/* possible feature */
/* max-inline-size: 200em; */
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}




/* 01.History */
#history {
background-image: url(images/history-bg.png);
min-height: 50em;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

mx-auto{
    margin-top: 10em;
}

/* #transbox{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
} */


/* Carousel */
#carousel {
    position: absolute;

   
}


/* 02.Climb */
#climb {
background-image: url(images/team-bg.png);
min-height: 50em;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}