/* NavBar */
.container {
    display: flex;
  }



/* homepage */
#home {
background-image: url(images/home-bg.png);
min-height: 50em;
/* possible feature */
/* max-inline-size: 200em; */
background-size: cover;
background-repeat: no-repeat;
}




/* 01.History */
#history {
background-image: url(images/history-bg.png);
min-height: 50em;
background-size: cover;
background-repeat: no-repeat;
}


/* 02.Climb */
#climb {
background-image: url(images/team-bg.png);
min-height: 50em;
background-size: cover;
background-repeat: no-repeat;
}